
*{
    margin:0;
    padding:0;
}
body {
    background-color:grey;
    font-family: 'Akaya Telivigala', cursive;
}
.container{
    max-width:1000px;
    max-width:1000px;
   
    background-image:url(images.jpg);
    background-repeat:no-repeat;
    background-size:1000px 1442px;
    margin: 0 auto;
    box-sizing:border-box;
    padding:6px;
   
}
img{
height:100px;
width:100px;

border-radius:50%;
border:3px solid black;
padding:1px;
float:left;
}

.header-bio{
 float:left;
 padding:30px ;
}
h1,h2{
    color:white;
}
h1:hover{
    color:palegreen;
}
h2:hover{
    color:pink;
}
.contact{
    float:right;
    padding:25px 10px;
}
hr{
    border-bottom:none;
    border-top:3px solid black;
    width:100%;
    
}
.contact ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
.contact ul{
    list-style-type:none;
}
    .contact ul li a:hover {
        color: darkseagreen;
        text-decoration:underline;
    }
    .contact ul li{
        padding:5px;
    }
    .div-clear{
        clear:both;
    }
.left-div{
    float:left;
    padding-top:5px;
    
    
}

    .left-div h1{
    padding:5px;
    color:yellow;
    
}
    .left-div h1:hover{
        color:green;
    }
    .right-div {
        float: right;
        color: green;
     
       padding:10px 20px;
     
    }
    .right-div p{
        padding:10px;
    }


.right-div:hover{
    color:yellow;
}
.normalhr {
    border-bottom: none;
    border-top: 2px solid brown;
    width: 100%;
    
}


.education-templet-left h1{
    color:yellow;
    float:left;

}

.education-templet-right  {
    
    float: right!important;
    color: green;
    margin:0px 100px;
}
.education-templet-right :hover{
    
    color: yellow;
}

.another{
    padding:0px 90px;
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration: 10s,3s;
    -webkit-animation-timing-function: linear,ease-in-out;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-play-state: running,running;
    animation-name: snowflakes-fall,snowflakes-shake;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running
}

    .snowflake:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 1s,1s;
        animation-delay: 0s,0s
    }

    .snowflake:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s,1s;
        animation-delay: 1s,1s
    }

    .snowflake:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s,.5s;
        animation-delay: 6s,.5s
    }

    .snowflake:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s,2s;
        animation-delay: 4s,2s
    }

    .snowflake:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s,2s;
        animation-delay: 2s,2s
    }

    .snowflake:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s,3s;
        animation-delay: 8s,3s
    }

    .snowflake:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s,2s;
        animation-delay: 6s,2s
    }

    .snowflake:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s,1s;
        animation-delay: 2.5s,1s
    }

    .snowflake:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s,0s;
        animation-delay: 1s,0s
    }

    .snowflake:nth-of-type(9) {
        left: 50%;
        -webkit-animation-delay: 3s,1.5s;
        animation-delay: 3s,1.5s
    }

    .snowflake:nth-of-type(10) {
        left: 25%;
        -webkit-animation-delay: 2s,0s;
        animation-delay: 2s,0s
    }
    .snowflake:nth-of-type(11) {
        left: 75%;
        -webkit-animation-delay: 4s,2.5s;
        animation-delay: 4s,2.5s
    }


    /*knowledge*/
  
  .knowledge ul{
      text-align:center;
      list-style-type:none;
  }




 .knowledge ul li h1{
     color:white;
     
 }
    .knowledge ul li h1:hover {
        color: greenyellow;
    }
progress {
    height: 100px;
    float: left;
    
}

.knowledge ul li i{
    color:orange;
    background-color:yellow;
    widht:100px;
    
   
}
.knowledge ul li{
    width:100%;
    text-align:center;
   
}
/*bottom*/
.bottom-container {
    background-color: black;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding: 12px;
}
.bottom-container  ul li  a{
    
    font-size:2rem;
    color:white;
    text-decoration:none;
    float:left;
    width:100%;

}
.bottom-container p{
    font-size:2rem;
    padding-top:100px;
    color:white;
    
    
}
    .bottom-container ul li{
        list-style-type:none;
        float:left;
      width:50%;
    }
    .bottom-container a:hover {
        font-size: 2rem;
        color: orange;
        text-decoration: underline;
    }
    .bottom-container ul li::before {
        font-family: 'Font Awesome 5 free';
        font-weight: bold;
        margin: 30px 5px;
        font-size: 2rem;
        color: blue;
    }
    .bottom-container i{
       background-color:white;
        color:lightblue;
        border-radius:50%;
        text-align:center;
        width:50%;
        margin-bottom:5px;
    }
 .botom-container i:hover {
    background-color: darkblue;
    color: orange;
   border-radius:70%;
}
   
     